body {
  background-color: rgb(50, 50, 50);
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.masterContentBox {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: white;
  padding: 10px;
  font-size: 1.4em;
}

nav .masterContentBox{
  display: flex;
  justify-content: space-between;
}

#logoTxt {
  align-self: flex-start;
  background-color: black;
  padding: 4px;
  border-radius: 2px;
  color: white;
  font-family: monospace;
  text-decoration: none;
  font-size: 2em;
}

#loginStatus{
  align-self: center;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

#loginStatus a{
  text-decoration: none;
  color:black;
}

#startingLetterLogo {
  margin: 2px auto;
  color: black;
  background-color: white;
}