body {
  background-color: rgb(50,50,50) !important;
  box-sizing: content-box !important;
  padding: 0;
  margin:0;
}

#typingPlace {
  font-family: monospace;
  font-size: 25px;
  
  width: 100%;
  height: 100%;
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#innerTypingPlace {
  height: max-content;
  overflow: hidden;
}

#typeText {
  width: 700px;
  height: 50px;
  overflow-y: hidden;
  border-left: 2px solid white;
  padding-left: 10px;
  margin: 10px;
  padding: 10px;
  user-select: none;
  color: white;
}

#typeSpace {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  width: 700px;

  padding: 5px 15px;
  margin: 10px;
  font-size: 25px;
  font-family: monospace;
  background-color: rgb(30,30,30);
  color: white;
}

word {
  border-radius: 3px;
  font-weight: 200;
  padding: 2px;
  color:white;
}

word.current {
  background-color: black;
}

word.correct {
  background-color: seagreen;
}

word.onstake, word.wrong{
    background-color: orange ;
}

span.wrong{
    color: red;
}

span.current {
  color: black;
  background-color: white;
}
