<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?q={{ styleTime }}">
</head>

<body>
    <nav>
        <div>
            <div class="masterContentBox">    
                <a href="#">
                    <span style="margin-top: 2px;" id="startingLetterLogo">T</span>est Type
                </a>
            </div>
        </div>
    </nav>
    
    <div class="masterContentBox">
        {% block content %}{% endblock %}
    </div>
</body>

</html>