<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ AddModifiedTime(url_for('static', filename='styles.css')) }}">
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico')}}">
    {% block scripts %}{% endblock %}
</head>

<body>
    <nav>
        <div class="masterContentBox">
            <a href="/" id="logoTxt">
                <span style="margin-top: 2px;" id="startingLetterLogo">T</span>est Type
            </a>
            <div id="loginStatus">
                {% if loggedIn == True %}
                <a href="/logout">Logout</a>
                {% elif loggedIn == False %}
                <a href="/login">Login</a> | <a href="/signup">Signup</a>
                {% endif%}
                </a>
            </div>
    </nav>

    <div class="masterContentBox">
        {% block content %}{% endblock %}
    </div>
</body>

</html>