{% extends "base.html.j2" %}
{% block title %}Test Type Beta{% endblock %}
{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ AddModifiedTime(url_for('static', filename='mainpage-styles.css')) }}">
{% endblock %}
{% block content %}
<div id="typingPlace">
        <div id="typeText"></div>
        <input type="text" id="typeTextBox" autofocus>
</div>

<div id="charList">
    <div class="char">A</div>
    <div class="char">B</div>
    <div class="char">C</div>
    <div class="char">D</div>
    <div class="char">E</div>
    <div class="char">F</div>
    <div class="char">G</div>
    <div class="char">H</div>
    <div class="char">I</div>
    <div class="char">J</div>
    <div class="char">K</div>
    <div class="char">L</div>
    <div class="char">M</div>
    <div class="char">N</div>
    <div class="char">O</div>
    <div class="char">P</div>
    <div class="char">Q</div>
    <div class="char">R</div>
    <div class="char">S</div>
    <div class="char">T</div>
    <div class="char">U</div>
    <div class="char">V</div>
    <div class="char">W</div>
    <div class="char">X</div>
    <div class="char">Y</div>
    <div class="char">Z</div>
</div>

<div id="results">

    <div class="resultBox">
        <h3>Word Statistics</h3>
        <div class="statisticDiv">
            <span class="statisticLabel">Speed (Words Per Minute): </span>
            <span class="statistic" id="wordSpeed">43</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Accuracy: </span>
            <span class="statistic" id="wordAccuracy">96%</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Correct Inputs: </span>
            <span class="statistic" id="correctWords">48</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Wrong Inputs: </span>
            <span class="statistic" id="wrongWords">2</span>
        </div>
    </div>
    <div class="resultBox">
        <h3>Character Statistics - <span id="charName">A</span></h3>

        <div class="statisticDiv">
            <span class="statisticLabel">Speed (Characters Per Minute): </span>
            <span class="statistic" id="charSpeed">328</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Accuracy: </span>
            <span class="statistic" id="charAccuracy">96%</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Correct Inputs: </span>
            <span class="statistic" id="correctChars">48</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Wrong Inputs: </span>
            <span class="statistic" id="wrongChars">2</span>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='MainScript.js') }}?q={{ script1Time }}" defer></script>
<script type="module" src="{{ url_for('static', filename='PassageHandler.js') }}?q={{ script2Time }}" defer></script>
<script type="module" src="{{ url_for('static', filename='PassageStatistics.js') }}?q={{ script3Time }}" defer></script>
{% endblock %}