{% extends "base.html" %}
{% block title %}Test Type Prototype {% endblock %}
{% block content %}
<div id="typingPlace">
    <div id="innerTypingPlace">
        <div id="typeText"></div>
        <input type="text" id="typeSpace" autofocus>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='PassageHandler.js') }}?q={{ scriptTime }}" defer></script>
<script type="module" src="{{ url_for('static', filename='MainScript.js') }}?q={{ scriptTime }}" defer></script>
{% endblock %}