{% extends "base.html" %}
{% block title %}Test Type Beta{% endblock %}
{% block content %}
<div id="typingPlace">
    <div id="innerTypingPlace">
        <div id="typeText"></div>
        <input type="text" id="typeTextBox" autofocus>
    </div>
</div>

<div id="charListDiv">
    <div class="charDiv">A</div>
    <div class="charDiv">B</div>
    <div class="charDiv">C</div>
    <div class="charDiv">D</div>
    <div class="charDiv">E</div>
    <div class="charDiv">F</div>
    <div class="charDiv">G</div>
    <div class="charDiv">H</div>
    <div class="charDiv">I</div>
    <div class="charDiv">J</div>
    <div class="charDiv">K</div>
    <div class="charDiv">L</div>
    <div class="charDiv">M</div>
    <div class="charDiv">N</div>
    <div class="charDiv">O</div>
    <div class="charDiv">P</div>
    <div class="charDiv">Q</div>
    <div class="charDiv">R</div>
    <div class="charDiv">S</div>
    <div class="charDiv">T</div>
    <div class="charDiv">U</div>
    <div class="charDiv">V</div>
    <div class="charDiv">W</div>
    <div class="charDiv">X</div>
    <div class="charDiv">Y</div>
    <div class="charDiv">Z</div>
</div>

<div id="masterResultDiv">

    <div class="resultDiv">
        <h3 class="centerAlign">Word Statistics</h3>
        <div class="statisticDiv">
            <span class="statisticLabel">Speed (Words Per Minute): </span>
            <span class="statistic" id="wordSpeed">43</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Accuracy: </span>
            <span class="statistic" id="wordAccuracy">96%</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Correct Inputs: </span>
            <span class="statistic" id="correctWords">48</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Wrong Inputs: </span>
            <span class="statistic" id="wrongWords">2</span>
        </div>
    </div>
    <div class="resultDiv">
        <h3 class="centerAlign">Character Statistics - <span id="charName">A</span></h3>

        <div class="statisticDiv">
            <span class="statisticLabel">Speed (Characters Per Minute): </span>
            <span class="statistic" id="charSpeed">328</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Accuracy: </span>
            <span class="statistic" id="charAccuracy">96%</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Correct Inputs: </span>
            <span class="statistic" id="correctChars">48</span>
        </div>

        <div class="statisticDiv">
            <span class="statisticLabel">Wrong Inputs: </span>
            <span class="statistic" id="wrongChars">2</span>
        </div>
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='MainScript.js') }}?q={{ script1Time }}" defer></script>
<script type="module" src="{{ url_for('static', filename='PassageHandler.js') }}?q={{ script2Time }}" defer></script>
<script type="module" src="{{ url_for('static', filename='PassageStatistics.js') }}?q={{ script3Time }}" defer></script>
{% endblock %}