{% extends "base.html.j2" %}
{% block scripts %}
  <link rel="stylesheet" type="text/css" href="{{ modified_url_for('static', filename='form-styles.css') }}">
{% endblock %}
{% block content %}
<form method="POST" action="/signup">
  <h1>Create an account</h1>
  <input type="text" placeholder="Username" name="username">
  <input type="text" placeholder="Email" name="email">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" value="Signup">
  <a href="/login">Already have an account? Click here to login!</a>
</form>
{% endblock %}